body{
    /* background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg);
      */
    background-image: url('../img/futu.jpg');
    background-size: 100vw 100vh;
    
    
 } 

 .label{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
 }
